<style>
  .basic-search-form {
    display: table;
  }

  .basic-search-field {
    display: table-row;
  }

  .field-label,
  .field-input {
    display: table-cell;
    margin-bottom: 10px;
  }

  .field-label {
    padding-right: 10px;
  }
</style>
<form action="" class="basic-search-form">
  <div class="basic-search-field">
    <label for="search-field" class="field-label">Search type</label>
    <select name="search-field" id="search-field" class="field-input">
      {% for field in fields %}
      <option value="{{ field.field }}">{{ field.display }}</option>
      {% endfor %}
    </select>
    <div class="basic-search-field">
      <label for="search-string" class="field-label">Search string</label>
      <input type="text" name="search-string" id="search-string" class="field-input" />
    </div>
    <div class="basic-search-field">
      <input type="submit" value="Search" />
    </div>
</form>
{% if results %}
<h2>Results</h2>
<p>Found {{ num_results }} results</p>
<ul>
  {% for result in results %}
  <li>
    <a href="{{ result }}">{{ result }}</a>
  </li>
  {% endfor %}
</ul>
{% endif %}